/*Обнуление*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/*Стили для демонстрации*/
html,
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  height: 100%;
  padding: 50px;
}
/* Основные стили */

.block {
  &__item {
    width: 500px;
    margin: 0px 0px 20px 0px;
  }

  &__title {
    position: relative;
    padding: 0px 0px 0px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      top: 8px;
      width: 10px;
      height: 1px;
      background-color: #000;
      content: '';
      transition: all 0.3s ease 0s;
    }

    &:before {
      left: 0;
      transform: rotate(40deg);
    }

    &:after {
      left: 8px;
      transform: rotate(-40deg);
    }
  }
}

.block__title.active:before,
.block__title.active:after {
  background-color: red;
}

.block__title.active:before {
  transform: rotate(-40deg);
}

.block__title.active:after {
  transform: rotate(40deg);
}

.block__text {
  display: none;
  padding: 10px 0px 0px 0px;
}