@charset "UTF-8";

/*Обнуление*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/*Стили для демонстрации*/

html,
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  height: 100%;
  padding: 50px;
}

/* Основные стили */

.block__item {
  width: 500px;
  margin: 0px 0px 20px 0px;
}

.block__title {
  position: relative;
  padding: 0px 0px 0px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.block__title:before,
.block__title:after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  position: absolute;
  top: 8px;
  width: 10px;
  height: 1px;
  background-color: #000;
  content: '';
  transition: all 0.3s ease 0s;
}

.block__title:before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
  left: 0;
          transform: rotate(40deg);
}

.block__title:after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
  left: 8px;
          transform: rotate(-40deg);
}

.block__title.active:before,
.block__title.active:after {
  background-color: red;
}

.block__title.active:before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.block__title.active:after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.block__text {
  display: none;
  padding: 10px 0px 0px 0px;
}